* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
  position: relative;
}

.elem {
  height: 120px;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.elem h1 {
  font-size: 6vw;
  z-index: 9;
  mix-blend-mode: difference;
}

.elem img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: fixed;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all linear 0.3s;
}
